@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after,
html,
body,
section,
figure {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  background-color: var(--light-blue);
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-blue: hsl(212, 45%, 89%);
  --gray-blue: hsl(216, 15%, 48%);
  --steel-blue: hsl(218, 44%, 22%);
}

.card {
  height: 100dvh;
  width: 100dvw;
  display: grid;
  place-items: center;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--white);
}

article > img {
  height: 20rem;
  width: auto;
  border-radius: 1rem;
}

article > h2 {
  font-weight: 700;
  color: var(--steel-blue);
  background-color: var(--white);
}

article > h5 {
  font-size: 15px;
  font-weight: 400;
  color: var(--gray-blue);
  background-color: var(--white);
  border-radius: 1rem;
}
